
.ride-list-result-item-individual{
    background: #f0ffff;
    /*border-style: groove;*/
    color: #111;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    padding: 10px 15px 8px;
    /*width  : 150px;*/
    /*height : 160px;*/
    margin: 0 0 30px 8px;
    align-items: center;
    /*text-transform: uppercase;*/
}
.ride-list {
    margin-top: 20px;
}

.ride-list-title{
    color: #111;
    font-family: 'OCR A Std', monospace;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    margin-left: 1%;
    margin-bottom: 1%;
    /*margin: 0 0 0 8px;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
}
.ride-list-accept-btn{
    color: #111;
    background: #5f9ea0;
}


.ride-list-content{
    margin-left: auto;
    width: 56%;
}

