
.ride-list__result-item_individual{
    background: #f0ffff;
    border-style: groove;
    color: #111;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    padding: 10px 15px 8px;
    width  : 150px;
    height : 160px;
    margin: 0 0 30px 8px;
    /*text-transform: uppercase;*/
}
.ride-list {
    margin-top: 20px;
}

.ride-list__title{
    color: #111;
    font-family: 'OCR A Std', monospace;
    font-size: 20px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    margin: 0 0 0 8px;
    /*text-transform: uppercase;*/
}
.ride-list__accept-btn{
    color: #111;
    background: #5f9ea0;
}

