#register
{
}
.ride-book{
    margin-left: auto;
    width: 62%;
}
.src-dest {
    margin-top: 1%;
    margin-left: 2.5em;
}
.center-text-btn{
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-left: -19em;

}

.center-text-map{
    margin-top: -2%;

}

.title{
    color: #111;
    font-family: 'OCR A Std', monospace;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    margin-left: 1.5em;
}

.padding-bottom{
    padding-bottom: 1em;
}