.ride-container{
    background: #f9dede;
    color: #111;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    padding: 10px 15px 8px;
    margin: 20px 0 30px 8px;
}

.ride-title{
    color: #111;
    font-family: 'OCR A Std', monospace;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    margin: 0 0 0 8px;
}

.ride{
    margin-left: auto;
    width: 56%;
}